################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ASP.NET-Core-MVC-Tutorial-Code/v15
/.vs
/Heavy.Web/obj
/Heavy.Web/bin/Debug/netcoreapp2.2
/Heavy.Web/Heavy.Web.csproj.user
/Heavy.Web/logs
/Heavy.Ltd.sln.DotSettings.user
